{% extends "Datos/base.html"%}
{%block title%}{{pages.name}}{%endblock%}
{%block headerss%}{{pages.headers}}{%endblock%}
{%block background%}{{pages.image.url}}{%endblock%}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4><p>{{pages.content}}</p></h4>
        <br>
      </div>
    </div>
  </div>
  {% for p in proyects %}
    <div class="row Project">
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class ="img-fluid" src="{{p.image.url}}" alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">{{p.name}}</h2>
        <p>{{p.descent}}</p>
        <p><a href="{% url 'projectView' p.id %}">Más información</a></p>
        
      </div>
    </div>
  {% endfor %}
{% endblock %}